body{
    text-align: center;
}

#dark{
    position: relative;
    left: 250px;

}

p{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    }

#principal{
    background: linear-gradient(90deg, #034f7ed9, #9dbee0);
    border: 2px solid rgb(66, 28, 28);
    margin: auto;
    text-align: center;
    border-radius: 10px;
    width: 180px;
    height: 290px;
    padding: 50px;
    }

#conta{
    background: rgba(255, 255, 255, 0.678);
    border: 0.5px solid;
    border-radius: 5px;
    position: relative;
    font-family: Arial;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width:  170px;
    height: 30px;
    bottom: 30px;
    left: 5px;
    }
button {
    background: linear-gradient(90deg, #353535, #312f2f);
    color: white;
    margin: 2px 0px 2px 2px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    position: relative;
    left: -20px;
    bottom: 75px;
    }
#divisao, #multiplicacao, #adicao, #subtracao{
    background: linear-gradient(90deg, #766161, #5b5656);
    width: 35px;
    height: 50px;
    border-radius: 5px;
    margin-left: 180px;
    position: relative;
    bottom: 291px;
    }
#restart{
    background: linear-gradient(90deg, #fd6a01, #fa7d1c);
    width:  170px;
    height: 30px;
    position: relative;
    bottom: 280px;
    left: 0px;
    }
#del{
    left: 57px;
    width: 92px;
}
#porcentagem, #zeraConta{
    left: -48px;
    top: -20px;
}
