body{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

#dark{
    position: relative;
    left: 250px;
}

#principal{
    background: linear-gradient(90deg, #0e80c7d9, #9dbee0);
    border: 1px solid rgb(66, 28, 28);
    margin: auto;
    border-radius: 10px;
    width: 260px;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;     
    flex-direction: column;
    }

#conta{
    background: rgba(78, 26, 26, 0.1);
    font-family: 'Inconsolata' monospace;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
    width:  260px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
button {
    background: linear-gradient(90deg, #353535, #312f2f);
    color: white;
    margin: 2px 0px 2px 2px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
    }
button:hover {
    transform: scale(1.08);
}
.operadores {
    background: linear-gradient(90deg, #766161, #5b5656);
    width: 35px;
    
    }
#restart{
    background: linear-gradient(90deg, #fd6a01, #fa7d1c);
    width:  170px;
    height: 30px;
    }
#del{
    width: 92px;
    left: 57px;
}
#porcentagem, #zeraConta{
    left: -48px;
    top: -20px;
}
